@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');
#frmProfile li{
    list-style: none;
    display: flex;
    margin-bottom: 20px;
}
.col-content{
    margin-top: 30px;
}
.profile-title{
    border: 1px solid #8c8c8c;
    border-radius: 14px;
    background-color: transparent;
    width: 44%;
    padding: 5px 0 5px 20px;
}
.Profile-name{
    width: 30%;
    color: #8c8c8c;
}
.title{
    margin-bottom: 30px;
}
.title span{
    position: relative;
    color: #febb00;
    font-size: 20px;
    font-weight: 700;
    font-family: 'Playfair Display', serif;
}
.title span:after {
    content: "";
    background: #febb00;
    width: 50%;
    height: 2px;
    border-radius: 3px;
    position: absolute;
    bottom: -5px;
    left: 0;
}
.img-title img{
    width: 100%;
}
.img-name{
    text-align: center;
    font-size: 35px;
    font-weight: 400;
    color: #febb00;
    font-family: 'Dancing Script', cursive;
}
.content{
    padding: 24px;
    border-color: #30363d;
    border-style: outset;
    border-width: 1px;
    border-radius: 6px;
}
.profile-button{
    margin-top: 15px;
    width: 26%;
    padding: 4px 10px;
    color: #fff;
    border-color: rgb(240 246 252 / 8%);
    background: #21262d;
    border-radius: 6px;
}
