

/*--------------------------------------------------------------------- File Name: responsive.css ---------------------------------------------------------------------*/


/*------------------------------------------------------------------- 991px x 768px ---------------------------------------------------------------------*/

@media (min-width: 1200px) and (max-width: 1500px) {}

@media (min-width: 992px) and (max-width: 1199px) {
    .titlepage h2 {
        font-size: 42px;
    }
    .choose_box {
        padding-top: 0;
    }
    .cont h3 {
        font-size: 38px;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .navigation.navbar-dark .navbar-nav .nav-link {
        padding: 0px 10px;
    }
    .text-bg h1 {
        padding-top: 0px;
        font-size: 45px;
        line-height: 70px;
    }
    .text-bg span {
        font-size: 45px;
        line-height: 45px;
    }
    .banner_main {
        min-height: 600px;
    }
    .choose_box {
        padding-top: 0;
    }
    .titlepage h2 {
        font-size: 31px;
        line-height: 37px;
    }
    .form_book .date {
        font-size: 14px;
    }
    .form_book {
        margin-top: -103px;
        padding: 30px 8px 0px 8px;
    }
    .cont h3 {
        font-size: 28px;
        line-height: 43px;
    }
    .book_n {font-size: 11px !important;}
}

@media (min-width: 576px) and (max-width: 767px) {
    .header {
        padding: 15px 30px 10px 30px;
    }
    .mean-container .mean-bar {
        margin-top: 0px;
    }
    .text-bg h1 {
        font-size: 33px;
        line-height: 40px;
        padding-bottom: 10px;
    }
    .sign_btn {
        padding-left: 0;
    }
    .text-bg span {
        font-size: 33px;
        line-height: 40px;
    }
    .choose_box {
        padding-top: 0;
    }
    .titlepage h2 {
        font-size: 34px;
        line-height: 41px;
    }
    .our_box .titlepage h2 {
        padding-top: 30px;
    }
    .form_book {
        padding: 29px 60px 0px 60px;
    }
    .cont h3 {
        font-size: 34px;
    }
    .about .titlepage {
        padding-bottom: 30px;
    }
    .choose_box .read_more {
        margin-bottom: 30px;
    }
    .cont p {
        padding-bottom: 25px;
    }
    .margin_boot {
        margin-bottom: 30px;
    }
    .footer {
        margin-top: 90px;
    }
    .main_form {
        margin-top: 0;
    }
    .navigation.navbar {
        float: right;
        display: inherit !important;
        padding: 0;
        width: 100%;
    }
    .navigation .navbar-collapse {
        background: #000;
        padding: 20px;
        margin-top: 52px;
        position: absolute;
        width: 100%;
        margin-right: 20px;
        z-index: 999;
    }
    .navigation.navbar-dark .navbar-nav .nav-link {
        padding: 10px 0;
        color: #fff;
    }
    .navigation.navbar-dark .navbar-toggler {
        border: inherit;
        float: right;
        padding-top: 6px;
    }
    .navigation.navbar-dark .navbar-nav .nav-link:focus, .navigation.navbar-dark .navbar-nav .nav-link:hover {

    color: #eec237;

}
    .navigation.navbar-dark .navbar-toggler-icon {
        background: url(../images/menu_icon.png);
        background-repeat: no-repeat;
    }
    .carousel-control-next-icon,
    .carousel-control-prev-icon {
        display: none;
    }
}

@media (max-width: 575px) {
    .header {
        padding: 30px 0px 15px 0px;
    }
    .logo {
        text-align: center !important;
        padding-bottom: 6px;
        float: left;
    }
    .text-bg h1 {
        font-size: 26px;
        line-height: 35px;
        padding-bottom: 20px;
    }
    .sign_btn {
        padding-left: 0;
    }
    .text-bg span {
        font-size: 26px;
        line-height: 35px;
    }
    .titlepage h2 {
        font-size: 33px;
        line-height: 44px;
    }
    .form_book {
        padding: 29px 30px 0px 30px;
    }
    .about .titlepage {
        padding-bottom: 30px;
    }
    .our_box .titlepage h2 {
        padding-top: 30px;
    }
    .choose_box .read_more {
        margin-bottom: 30px;
    }
    .work_box {
        margin-bottom: 30px;
    }
    .margin_boot {
        margin-bottom: 30px;
    }
    .footer {
        margin-top: 90px;
    }
    .main_form {
        margin-top: 25px;
        padding: 50px 20px 40px 20px;
    }
    .choose .choose_box {
        padding-top: 0;
    }
    .cont h3 {
        font-size: 19px;
        line-height: 40px;
    }
    .multi {
        font-size: 32px;
    }
    .navigation.navbar {
        float: right;
        display: inherit !important;
        padding: 0;
        width: 100%;
        margin-top: -45px;
    }
    .navigation .navbar-collapse {
        background: #000;
        padding: 20px;
        margin-top: 62px;
        position: absolute;
        width: 100%;
        margin-right: 20px;
        z-index: 999;
    }
    .navigation.navbar-dark .navbar-nav .nav-link:focus, .navigation.navbar-dark .navbar-nav .nav-link:hover {

    color: #eec237;

}
    .navigation.navbar-dark .navbar-nav .nav-link {
        padding: 10px 0;
        color: #fff;
    }
    .navigation.navbar-dark .navbar-toggler {
        float: right;
        margin-right: 2px;
        border: inherit;
    }
    .testimonial_box {
        padding: 0px 19px 40px 20px;
    }
    .navigation.navbar-dark .navbar-toggler-icon {
        background: url(../images/menu_icon.png);
        background-repeat: no-repeat;
    }
    .carousel-control-next-icon,
    .carousel-control-prev-icon {
        display: none;
    }
    .cont_call h3 {
        font-size: 33px;
        line-height: 49px;
    }
}

