$bgColor: #1d1d1b;
// $bgColor: rgb(231, 231, 231);
$textColor:white;
// $textColor:black;
$bgColoryl: #ec4d37;
// $bgColoryl: rgb(167, 167, 167);
* {
    outline: none;
    border: none;
    margin: 0;
    padding: 0;
}