.header {
  background: url('../images/backgorud.jpg') no-repeat top center/cover;
  width: 100%;
  height: 100vh;
  background-attachment: fixed;
}
.header .container {
  text-align: center;
}
.header .container h2 {
  font-size: 2rem;
}
.header .container form {
  width: 100%;
  margin: 0px auto;
  padding: 20px;
  border: 1px solid #B0C4DE;
  background: white;
  border-radius: 0px 0px 10px 10px;
  display: inline-flex;
}
.header .container form .form_search {
  border: none;
  display: inline-flex;
  width: 100%;
}
.header .container form .btn_search {
  margin-left: 20px;
  background: orange;
}
.header .container table {
  border-collapse: collapse;
  width: 100%;
  background: url(../images/logo4.png);
  background-size: cover;
}
.header .container table tr {
  background-color: skyblue;
}
.header .container table tr td {
  text-align: center;
  padding: 10px;
  font-family: 'Times New Roman', Times, serif;
}
.header .container table tr td .btn_click {
  padding: 10px 40px;
  border: none;
  outline: none;
  border-radius: 5px;
}
.header .container table tr td a {
  color: white;
}
