body{
    background: #ddd;
    font-family: "Releway";
    
  }
  .center{
          position: absolute;
          top:50%;
          left:50%;
          transform: translate(-50, -50);
        }
  .popup{
    visibility: hidden;
    width:550px;
    height: 500px;
    padding:30px 20px;
    background:#f5f5f5;
    border-radius:10px;
    z-index: 2;
    text-align:center;
    opacity:0;
    top:-200%;
    transform:translate(-50%,-50%) scale(0.5);
    transition: opacity 300ms ease-in-out, 
                top 1000ms ease-in-out,
                transform 1000ms ease-in-out;
  }
  
  .popup.active{
    opacity:1;
    top:50%;
    transform:translate(-50%, -50%) scale(1);
    transition:tranform 300ms cubic-bezier(0.18,0.89,0.43,1.1);
    visibility: visible;
  }
  
  .popup .icon{
     margin:5px 0px;
     /*circle*/
     border: 2px solid #34f234;
     width:50px;
     height:50px;
     border-radius:50%; 
     /* text*/
     text-align:center;
     line-height: 60px;
     /*display inline block*/
     display:inline-block;
        
  }
  .popup .icon i.fa{
    font-size:30px;
    color: #34f234;
  }
  .popup .title{
    margin:5px 0px;
    font-size:30px;
    /*thin or thick of text*/
    font-weight:600;
  }
  .popup .description{
    color: #222;
    font-size:15px;
    padding:5px;
  }
  .popup .dismiss-btn{
    margin-top:15px;
  }
  .popup .dismiss-btn button{
    padding:10px 20px;
    background:#111;
    color:#f5f5f5;
    border:2px solid #111;
    font-size:16px;
    font-weight:600;
    outline:none;
    border-radius:10px;
    transition:all 300ms ease-in-out;
    cursor:pointer;
  }
  
  .popup .dismiss-btn button:hover{
    color:#111;
    background:#f5f5f5;
  }