.detail-movie, .movie-trailer {
    line-height: 24px;
    font-size: 14px;
    color: #b6b7b9 !important;
    background: #13151f;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 500;
    color: #fff;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0px;
}

img {
    /* max-width: 100%; */
    height: auto;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

a, a:hover, a:focus, a:active, button:focus {
    text-decoration: none;
    border: none;
    outline: 0;
}

h2 {
    font-size: 30px;
}

h4 {
    font-size: 18px;
}

input[type="text"], input[type="submit"], button[type="submit"], input[type="email"], input[type="url"], input[type="tel"], input[type="search"], input[type="password"], input[type="number"], textarea {
    background: #24262d;
    width: 100%;
    padding: 8px 15px;
    border: none;
}

textarea, input, textarea::-webkit-input-placeholder, input::-webkit-input-placeholder {
    color: #fff;
}

button {
    cursor: pointer;
}

.transformers-area {}

.transformers-box {
    padding: 35px;
    box-shadow: 0 0 20px #000000;
    position: relative;
    background-image: linear-gradient(to right, rgb(22 13 13) 150px, rgb(104 101 101 / 84%) 100%);
}

.flexbox-center {
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

/* .transformers-box .transformers-content{
    margin: 0px 15px;
} */

.transformers-box .desc-film {
    /* padding-bottom: 45px; */
}

.transformers-box .transformers-content img {
    display: block;
    position: relative;
    border-radius: 4px;
}

.transformers-content>p {
    margin: 12px 0 30px;
    position: relative;
    padding-left: 70px;
}

.transformers-content ul.list-inline {
    display: flex;
}

.transformers-content ul li {
    display: flex;
    margin-top: 12px;
    font-weight: 300;
    color: #b6b7b9;
}

.transformers-left {
    color: #eb315a;
    min-width: 145px;
    font-weight: 600;
}

.transformers-left-top {
    /* padding: 20px 10px; */
    padding: 20px 0px 40px;
}

.transformers-box>.theme-btn {
    position: absolute;
    right: 0;
    bottom: 0;
    border-radius: 5px 0 0;
}

.theme-btn {
    background: #eb315a;
    border: 1px solid #eb315a;
    color: #fff;
    border-radius: 35px;
    padding: 5px 25px;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    font-weight: 500;
}

@media only screen and (max-width: 576px) {
    .transformers-box {
        padding: 5px 15px 40px;
    }
    .transformers-content h2 {
        font-size: 24px;
    }
    .transformers-content>p {
        padding: 0;
    }
    .transformers-content ul li {
        display: block;
    }
}

@media only screen and (max-width: 991px) {
    .transformers-box .transformers-content img {
        margin: auto;
    }
}

/* END Transformer area */

/* START Detail area */

.details-content {
    padding-top: 10px;
    padding-bottom: 50px;
}

.details-content>div {
    margin-top: 30px;
}

.details-content>div h2 {
    margin-bottom: 20px;
}

.details-overview h2 {
    position: relative;
    padding-bottom: 10px;
}

.details-overview h2::before {
    position: absolute;
    bottom: -2px;
    left: 0;
    background: #eb315a;
    content: "";
    width: 50px;
    height: 2px;
}

.details-overview p {
    color: lemonchiffon;
    line-height: 2.5;
    letter-spacing: 0.4px;
}

.select-container {
    position: relative;
    margin-bottom: 30px;
}

.textarea-container button {
    color: #fff;
    background: transparent;
    font-size: 20px;
    border: none;
}

.textarea-container button, .select-container i {
    position: absolute;
    right: 15px;
    bottom: 12px;
    margin: auto;
}

.icofont {
    font-family: 'IcoFont' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.textarea-container {
    position: relative;
}

.icofont-send-mail:before {
    content: "\f0c5";
}

.details-comment {
    padding-top: 40px;
    padding-bottom: 55px;
}

.details-comment a {
    float: right;
    text-align: center;
}

.theme-btn2:hover, .theme-btn2 {
    text-decoration: none;
    color: #fff;
    background: #963dad;
    background: -moz-linear-gradient(top, #963dad 0%, #9c3db1 34%, #ba3fc4 65%, #c340ca 100%);
    background: -webkit-linear-gradient(top, #963dad 0%, #9c3db1 34%, #ba3fc4 65%, #c340ca 100%);
    background: linear-gradient(to bottom, #963dad 0%, #9c3db1 34%, #ba3fc4 65%, #c340ca 100%);
    border: none;
}

.details-comment p {
    flex: 5;
    margin-left: 25px;
}

.details-thumb {
    display: flex;
}

.details-thumb>div {
    padding-top: 20px;
    display: flex;
    width: 50%;
}

.thumb-icon {
    width: 45px;
}

.thumb-text {
    flex: 5;
}

.details-thumb>div h4 {
    transition: 0.4s;
}

.details-thumb>div a:hover i {
    color: #fff;
}

.details-thumb>div i {
    font-size: 32px;
    padding-top: 9px;
    color: #b6b7b9;
}

.thumb-text h4 {
    margin-bottom: 2px;
}

.details-thumb-next {
    text-align: right;
}

.div-keyword {
    padding: 0px 13px;
}

.div-keyword ul {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-bottom: 0;
}

.div-keyword ul .keywword {
    margin-right: 5px;
    margin-bottom: 25px;
    line-height: 24px;
    font-size: 0.9em;
    box-sizing: border-box;
    white-space: nowrap;
}

/* .div-keyword ul .keywword a {
    background-color: rgba(0,0,0,0.1);
    border: 1px solid rgb(13, 148, 197);
    color: rgb(13, 148, 197);
    padding: 4px 10px;
    border-radius: 4px;
    text-decoration: none;
} */

.div-keyword ul .keywword a {
    background-color: rgba(0, 0, 0, 0.1);
    border: 1px solid rgb(13, 148, 197);
    color: rgb(13, 148, 197);
    padding: 4px 10px;
    border-radius: 4px;
    text-decoration: none;
    text-transform: capitalize;
    margin-right: 7px;
}

.pading-top-name-key {
    box-shadow: 0 0 5px 0 white;
    height: 80px;
    background-image: linear-gradient(to right, rgb(137 207 241) 150px, rgb(171 68 68) 100%);
}

.pading-top-name-key h4 {
    text-align: center;
    position: relative;
    top: 20px;
    text-transform: capitalize;
    font-size: 40px;
}

.ul-keyword-com ul .keywword {
    box-shadow: 0 0 5px 0 white;
    margin-top: 15px;
    border-radius: 5px;
}

.img-proter-key img {
    width: 120px;
}

.name-key h4 {
    margin-top: 25px;
}
.block--title{
    font-family:'Titan One',cursive;
	font-size:30px;
	font-weight:700;
    color:orange;
    padding-top: 25px;
}
.card-img:hover img{
    transform: scale(1.02);
}
.list-similar div{
    padding-left: 5px;
  }