.breadcrumb {
  background: transparent;
  padding: 0;
  margin-top: 15px;
  display: flex;
 list-style: none;

  }
  h1.title {
    text-transform: uppercase;
    color: #1a1a1a;
    border-bottom: 2px solid #f46164;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  h1.title span {
    font-size: 17px;
    background: #f46164 none repeat scroll 0 0;
    color: #fff;
    display: inline-block;
    padding: 9px 10px;
    position: relative;
    text-transform: uppercase;
  }
  /* step */
  .steps li.active {
    border-bottom-color: #f46164;
  }
  .steps li {
    margin-bottom: 5px;
    float: left;
    text-align: center;
    text-transform: uppercase;
    font-size: 15px;
    border-bottom: 2px solid #454545;
    padding-bottom: 15px;
    margin-bottom: 15px;
    position: relative;
  }
  .steps li span {
    display: block;
    /* color: #454545; */
    padding: 5px 0;
  }
  .home{
    list-style: none;
  }
  .clearfix{
    list-style-type: none ;
    margin-left: -2%;
  }
