.related-image img{
width: 100%;
height: 100%;
}
.related-content{
    font-size: 1.2rem;
}
.related-title{
    text-align: center;
    padding-top:3%;
}
.related-title:hover{
    color: #eb7025;
}
.related-price{
    text-align: center;
    padding-bottom: 3%;
}
.related{
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
    padding: 5% 0%;
}
