.trending-categories-info {
    padding: 5vh 2vh;
    position: relative;
}
.trending-categories-info .trending-category-product-img {
    transition: transform 0.5s, filter 0.5s ease-in-out;
    filter: grayscale(100%);
}
.trending-categories-info .trending-category-product-img {
    width: 100%;
}
.trending-categories-info .info-detail {
    position: absolute;
    bottom: 20%;
    left: 5vh;
}
.trending-category-title {
    font-size: 1.5rem;
    transition: 0.5s;
    color: #fff;
}
.trending-category-product-title {
    padding-right: 20px;
    font-size: 1.2rem;
    font-weight: 400;
    transition: 0.5s;
    color: #000;
}
.trending-category-title:hover {
    color: #eb7025;
}
.trending-categories-info:hover .trending-category-product-img {
    filter: grayscale(0);
    transform: scale(1.1);
}

@media only screen and (max-width: 400px) {
    .trending-category-product-title {
        color: #fff;
    }
    .trending-categories-info:hover .trending-category-product-title,
    .trending-category-title {
        color: #000;
    }
}
