
.Session{
    margin-bottom: 30px;
    box-shadow: 0 0 0 1px wheat;
}
.filter h3{
    font-weight: 600;
    font-size: 1.3em;
    margin: 20px 0px;
}
.filter .img-session{
    border-radius: 5px;
}
.wapper{
    display: flex;
}
.wapper span{
    padding-right: 20px;
}
.wapper {
    font-size: 1.1em !important;
    color: #fff;
    font-weight: 600;
    font-family: 'Source Sans Pro', Arial, sans-serif;

}
.wapper h4{font-size: 1.1em;}

.seasons-list{
   padding-top: 10px;
}

.baner-center-images{
    min-width: 58px;
    width: 90px;
    height: 120px;
    box-sizing: border-box;
}
.baner-center-images img{
    display: block;
    border-radius: 4px;
    width: 100%;
    height: 100%;
    margin-left: 17px;
}
.baner-seasons{
    padding-top: 15px;
    padding-bottom: 15px;
}
.title-episode h3{
    font-family: 'Titan One',cursive;
    font-size: 30px;
    font-weight: 700;
    color: orange;
    padding-top: 25px;
}
.overview{
    color: #FE0;
    font-size: 0.9em;
}