.carousel-banners {
    width: 100%;
    max-width: 980px;
    margin: 0px auto;
    position: relative;
}

.ant-carousel .slick-prev,
.ant-carousel .slick-next,
.ant-carousel .slick-prev:hover,
.ant-carousel .slick-next:hover,
.ant-carousel .slick-prev:focus,
.ant-carousel .slick-next:focus {
    background-color: rgba(85, 85, 85, 0.3);
    color: #fff;
    margin: 0;
    padding: 5px;
    width: auto;
    height: 50px;
    font-size: 0;
    text-align: center;
    z-index: 50;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
}

.ant-carousel .slick-prev {
    left: 0;
    border-radius: 0 10px 10px 0;
}

.ant-carousel .slick-next {
    right: 0;
    border-radius: 10px 0 0 10px;
}

.ant-carousel .slick-next::before {
    content: ">";
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ant-carousel .slick-prev::before {
    content: "<";
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.carousel-banners:hover .ant-carousel .slick-prev,
.carousel-banners:hover .ant-carousel .slick-next,
.carousel-banners:hover .ant-carousel .slick-prev:hover,
.carousel-banners:hover .ant-carousel .slick-next:hover,
.carousel-banners:hover .ant-carousel .slick-prev:focus,
.carousel-banners:hover .ant-carousel .slick-next:focus {
    background-color: rgba(85, 85, 85, 0.5);
    padding: 5px 10px;
}