$color : #2980b9;
body{
    background-image: url(../images/Ảnh-thiên-nhiên-buồn.jpg);
  
    .header{
        position: relative;
        text-align: center;
        color: white;
        padding: 15px 0; &:hover .ani{
            width: 100%;
            transition: 1s;
        }
        .ani{
            position: absolute;
            width: 0%;
            height: 100%;
            background:$color ;
            top: 0;
            left: 0;
            z-index: 0; transition: .5s;
            animation: ani 5s infinite;
            
        }
       
        @keyframes ani  {
            0%{
                width: 0%;
            }
            100%{
                width: 100%;
            }
            
        }
        h2{
            position: relative;
            z-index: 1;
            
        }
    }
    .content{
        width: 100%;
        height: 400px;
        display: flex;
        justify-content: center; align-items: center;
        color: white;
        .error{
            width:30%;
            background-color: silver;
        }
        p{
            text-align: center;
        }
         .profile_info{
        display: flex;
        align-items: center;
        justify-content: center;
         }
      
        img{
         width: 250px;
         height: 250px;
         cursor: pointer;
         transition: 5s;
         
            &:hover{
                border: 1px solid gray;
                
               
            }
        }
        small{
            font-size: 20px;
            color: white;
           button{
               background: black;
               padding: 14px; transition: .5s;
               display: inline-block;border-radius: 10px;
               &:hover{
                   color:black;
                   background: white;
                   transition: .5s;
               }
           }
            a{
                display: inline-block;
                padding: 10px;
                background: #000;
                margin: 10px;
                text-decoration: none;
                color: white;
                border-radius: 10px;transition: .5s;
                &:hover{
                   
                    background: transparent;
                    box-sizing: border-box;
                    transition: .5s;
                }
            }
        }
    }
    }
   .footer{
      position: fixed;
      width: 100%;
      bottom: 0;
       background: $color;color: #000;
       text-align: center;
    ul{
        list-style: none;
    }
    h3{
        background-color: sienna;
    }
      
   }