.footer {
    font-family: 'Poppins', sans-serif;
    /* background: url('./image/footer-bg.png') no-repeat bottom center / cover; */
    font-size: 14px;
    font-weight: 400;
    position: relative;
	padding: 90px 0 30px;
}
.footer::before {
    position: absolute;
    /* background: #13151f; */
    top: 0;
    left: 0;
    content: "";
    width: 100%;
    height: 100%;
    opacity: 0.9;
}
.image-logo{
    background: url('./image/logo.png')no-repeat bottom center / cover;
    width: 172px;
    height: 62px;
    margin-bottom: 40px;
}
img {
    height: auto;
}
.widget h4,.widget img {
    margin-bottom: 40px;
}
ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
.text-ami{
    text-decoration: none;
    border: none;
    outline: 0;
    color: #fff;
}
.text-ami:hover{
    text-decoration: none;
    color: #fff;
}
.widget ul li {
    margin-top: 15px;
}

.widget h6 {
    margin-top: 18px;
}
h6{
    font-size: 14px;
    font-weight: 500;
    color: #fff;
}
.widget h4, .widget img {
    margin-bottom: 40px;
}
h4 {
    font-size: 18px;
    font-weight: 500;
    color: #fff;
}
.widget {
    margin-bottom: 40px;
}

.widget button {
    background: transparent;
    color: #3290cf;
    border: none;
    padding: 0;
    font-weight: 600;
}

.widget form {
    margin-top: 25px;
}
.copyright {
    padding-top: 25px;
}
p{
    color: #b6b7b9;
    font-family: 'Poppins', sans-serif;
}
.input-from{
    background: #24262d;
    width: 100%;
    padding: 8px 15px;
    border: none;
    color: #fff;
}

.bg {
    animation:slide 3s ease-in-out infinite alternate;
    background-image: linear-gradient(-60deg, #5a3030bd 50%, #26224f 50%);
    bottom:0;
    left:-50%;
    opacity:.5;
    position:fixed;
    right:-50%;
    top:0;
    z-index:-1;
  }
  
  .bg2 {
    animation-direction:alternate-reverse;
    animation-duration:4s;
  }
  
  .bg3 {
    animation-duration:5s;
  }